@import url('https://fonts.googleapis.com/css?family=Playball|Poppins:200i,400,700|Sedgwick+Ave+Display');
/*
font-family: 'Playball', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Poppins', sans-serif;*/
body{
font-family: 'Roboto', sans-serif;
}
.top-header{
padding: 45px 0px;
}
.logo{}
.address{}
.address .nav-item{
padding-left:  30px;
}
.address .address-img{
display:  inline-block;
vertical-align:  middle;

}
.address .address-img img{margin-right: 10px;}
.address .address-text{
display:  inline-block;
vertical-align:  middle;
}
.address .address-text h3{
font-size:  22px;
color: #363636;
margin-bottom: 0;
}
.address .address-text span{
color: #a0a0a0;
font-size: 16px;
}
.bg-custom{
background: #00cce1;
padding: 0;
}
.appointment{
position: relative;
padding: 15px 15px;
}
.appointment::before{
position: absolute;
content: "";
width:  100%;
height:  100%;
top: 0;
left:  0;
background: #f69165;
transform: skew(-22deg);
-webkit-transform: skew(-22deg);
-moz-transform: skew(-22deg);
}
.appointment a{
color:  #fff;
text-decoration:  none;
position: relative;
}
.appointment a i{}
.navbar-dark .navbar-nav .nav-link{
padding: 15px 15px;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover{
color: rgba(255, 255, 255, 0.75);
background: #f69165;
}
.slider{}
.slide-content{
position: relative;
bottom: 115px;
}
.slide-content h2{}
.slide-content h2 span{
color:  #fff;
background: #00cce1;
padding: 2px 10px;
}
.slide-content h1{}
.slide-content h1 span{
color:  #fff;
background: #f69165;
padding:  2px 10px;
}
.slide-content p{
font-size: 20px;
padding: 10px 0px;
}
.slide-content ul{}
.slide-content ul li{}
.slide-content ul li a{
text-decoration:  none;
color:  #fff;
background: #00cce1;
padding: 14px 21px;
margin-right: 15px;
}
.slide-content ul li a:hover{
color:  #fff;
background: #f69165;
}
.slide-img{}
.slide-img img{}
.slide-content a{}
.slide-content a button{
border: none;
background: #00cce1;
padding: 10px 30px;
cursor: pointer;
margin-right: 15px;
color: #fff;
}
.slide-btn{
border: none;
background: #00cce1;
padding: 10px 30px;
cursor: pointer;
margin-right: 15px;
color: #fff;
}
.slide-btn:hover{
color:  #fff;
background: #f69165;
}
/*.welcome-section{
background: url(../images/welcome.png);
background-repeat: no-repeat;
}*/
.welcome-img{}
.welcome-img img {
height: 540px;
}
.welcome-features{}
.welcome-heading p{
max-width: 600px;
}
.our-doctors{
padding:  100px 0px;
background: #f9f9f9;
}
.heading{
text-align:  center;
padding: 25px 0px;
}
.heading h2{
margin-bottom: 0;
}
.heading img{
margin: 10px 0;
}
.heading p{
max-width: 600px;
margin:0 auto;
}
.doctors-info{
text-align:  center;
background: #fff;
border-bottom: 3px solid #00cce1;
margin-bottom: 30px;
}
.doctors-info h3{margin-bottom: 0;margin-top: 15px;}
.doctors-info span{display:  block;margin-bottom: 20px;color: #707070;font-size: 16px;}
.doctors-info:hover{
border-bottom: 3px solid #f69165;
}
.doctor-img{
position:  relative;
}
.doctor-img::before{
position: absolute;
content: "";
background:#00000054;
height:  100%;
width:  100%;
top: 0;
left:  0;
opacity: 0;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.doctor-img:hover::before{
opacity: 1;
}
.doctor-img img{
}
.social{
position:  absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.social li a{
color: #ffffff;
border: 1px solid;
display: block;
width: 35px;
height: 35px;
margin: 0 5px;
line-height: 35px;
opacity: 0;
text-align: center;
transition: all 0.6s;
-webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
}
.doctors-info:hover .social li a{
opacity: 1;
}
.doctor-img .social li a:hover{
background: #f69165;
border: none;
}



.our-service{
    padding: 100px 0px;
    
}
.service{
border: 5px solid #ebebeb;
padding: 30px 27px;
margin-bottom: 30px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.service:hover{
border: 5px solid #f69165;
}
.service i{
float:  left;
/* display:  block; */
/* margin-right:  5px; */
/* margin-bottom:  100px; */
/* padding-top: 0; */
padding-right: 4px;
}
.service h1{
font-size: 24px;
/* padding-top: 17px; */
/* display:  inline-block; */
margin-bottom: 17px;
padding-top: 22px;
}
.service p{padding: 7px 0px;/* margin-left: 0px; *//* max-width: 750px; */margin-bottom: 8px;}
.service a{
text-decoration:  none;
color: #6f6e6e;
font-weight:  bold;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.service a:hover{
color: #f69165;
}
.service a span{
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.service a:hover span{
margin-left: 5px;
}



.our-price{
    background: #f9f9f9;
    padding: 100px 0;
}
.price-content{
    text-align:  center;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px  #b9b9b96e;
    /* padding: 25px; */
    padding:  25px 0px;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover{
    border: 5px solid #f69165;
}
.price-head{
    margin:  0 auto;
    text-align:  center;
}
.price-head h2{
    margin-bottom:  0px;
    font-size: 30px;
    color: #00cce1;
}
.price-head p{
    font-size: 16px;
    color: #707070;
}
.price-content .price-package{
    background:  #fff;
    /* padding: 0px; */
}
.price-package{
    color: #00cce1;
    padding: 20px 16px;
    background:  #fff;
    margin: 15px 0px;
        transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover .price-package{
    background:#f69165;
    color: #fff;
}

.price-package h1{
    margin-bottom:  0px;
    font-size: 45px;
    letter-spacing: 0px;
}
.price-package h1 span{
    font-size:  24px;
  
}
.price-package span{}
.price-package p{
    margin-bottom: 0px;
    font-weight:  bold;
}
.package{}
.package ul{
    padding-bottom: 10px;
    padding-left:  0;
}
.package ul li{
    list-style: none;
    padding: 5px;
    color: #707070;
}
.package a{}
.package a button{}
.price-btn{
    border:  none;
    padding: 10px 37px;
    background: #00cce1;
    color:  #fff;
    font-weight:  bold;
    font-size: 20px;
}
.package a .price-btn{}




.our-clients{
    padding: 100px 0;
    background: url(../images/happy-client.jpg);
    position: relative;
        background-size: cover;
    background-repeat: no-repeat;
}
.our-clients::before{
   position: absolute;
content: "";
background:#00000054;
height:  100%;
width:  100%;
top: 0;
left:  0; 
}

.our-clients .heading{
    color: #fff;
}



footer{
    background: #1b1b1b;
    padding: 100px 0;
}
.footer-box{
    color: #fff;
}


.footer-box .footer-logo{

margin-bottom: 25px;
}
.footer-box .footer-logo img{
    margin-top: 5px;
}
.footer-box p{
    margin-top: 19px;
}
.footer-box .address{}
.footer-box .address li{
    padding:  0;
    padding-bottom: 25px;
}
.footer-box .address li .address-img{}
.footer-box .address li .address-img img{
}
.footer-box .address .address-text{}
.footer-box .address .address-text h3{}
.footer-box .address .address-text span{}
.footer-box .address{
    margin-top: 20px;
}
.footer-box .footer-head{}
.footer-box .footer-head h1{}
.footer-box form{}
.footer-box form .form-row {}
.footer-box form .form-row input{background: transparent;border: 1px solid #3c3939;border-radius: 0;padding: 15px;}
.footer-box form .form-row .btn{
    background: #e8703c;
    padding: 15px 20px;
}

.footer-social{
    margin-top: 50px;
}
.footer-social ul{}
.footer-social ul li{}
.footer-social ul li h4{

margin-right:  22px;
}
.footer-social ul li a{

background:  #323232;

width:  35px;

height: 35px;

padding: 15px;

margin-right:  8px;

text-align:  center;

color:  #fff;

line-height:  35px;
}
.footer-social ul li a:hover{
     background: #e8703c;
}



.recent-post{}
.recent-head{}
.recent-head h1{
    color: #fff;
}
.post-item{}
.recent-img{}
.recent-img img{}
.post-item .recent-img{
    margin: 17px 0;
}
.post-item .recent-img img{margin-right: 60px;}
.post-item .recent-text{
    margin-left: 15px;
}



/*.post-item .recent-text h5{
    color:  #a0a0a0;
    margin-bottom: 8px;
    margin-left: -16px;
    margin-top: 12px;
    font-size: 18px;
}
.post-item .recent-text span{
    color:  #a0a0a0;
    margin-left:  -15px;
    font-size: 14px;
}
*/
.post-item .recent-text h5{
    color:  #a0a0a0;
    margin-top: 15px;
    font-size: 18px;
}
.post-item .recent-text span{
    color:  #a0a0a0;
    font-size: 14px;
}
.recent-content{
    display:  inline-flex;
}



.footer-top{
    background:  #000;
    color:  #fff;
    padding: 30px 0px;
}
.copyright{}
.copyright p{
    color:  #777777;
    margin: 0;
    font-size: 16px;
    font-weight: 600
}
.copyright p a{
    color: #00cce1;
    text-decoration: none;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}