*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{

}

.logo img{
    
}



.top_header{

padding: 14px 0;
}

.top_header ul{
    
margin: 0;
    
padding: 0;
    
list-style: none;
    
display: flex;
    
justify-content: end;
}

.top_header ul li{
    
display: flex;
    
align-items: center;
    
margin-left: 30px;
}

.top_header ul li .icon{
    
font-size: 24px;
    
margin-right: 10px;
    
color: #f69165;
}

.top_header ul li .info{
    
}

.top_header ul li .info h5{
    
margin: 0;
    
font-size: 16px;
    
font-weight: 700;
}

.top_header ul li .info p{
    
margin: 0;
    
font-size: 14px;
color: #a0a0a0;
}


.appoint-btn{

background: #f69165;

padding: 0;

margin: 0;

padding: 15px 20px;

font-size: 14px;

color: #fff !important;

transform: skewX(-20deg);
}

.appoint-btn p{
    
margin: 0;
    
transform: skewX(20deg);
}


.main-header{

background: #00cce1;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    position: relative;
    z-index: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav .nav-item{
    margin-right: 25px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
    
}

.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background: #f69165;
    z-index: -1;
    transition: .4s all ease-in-out;
}


    
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .container-fluid{
    padding: 0;
}

.slider{

    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.height{
    display: flex;
    min-height: 80vh;
    align-items: center;
    
}

.slider h2{
    
background: #00cce1;
    
display: inline-block;
    
color: #fff;
    
text-transform: uppercase;
    
font-size: 30px;
    
padding: 0 5px;
    
margin-bottom: 15px;
}

.slider h1{
    
background: #f69165;
    
color: #fff;
    
display: inline-block;
    
text-transform: uppercase;
    
padding: 0 5px;
    
margin-bottom: 15px;
}

.slider p{
    
color: #636363;
    
margin: 0;
    
margin-bottom: 15px;
}

.btn-learn{

background: #00cce1;

padding: 0;

border-radius: 0;

color: #fff;

padding: 5px 15px;

text-transform: uppercase;

font-size: 14px;
}

.btn-book{
    
background: #f69165;
    
padding: 0;
    
border-radius: 0;
    
color: #fff;
    
padding: 5px 15px;
    
text-transform: uppercase;
    
font-size: 14px;
    
margin-left: 5px;
}

.agency{
    padding: 50px 0;
    position: relative;
}

.doctor{

position: absolute;

left: 50px;

bottom: 0;

width: 480px;
}

.doctor img{
    
}

.meet-our-doc{

padding: 50px 0;
}

.doctor-card{
position: relative;
text-align: center;
}

.doctor-card::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #00cce1;
}

.doctor-card:hover::before{
    background-color: #f69165;
}

.doctor-card:hover .doc-img::before{
    width: 100%;
}

.doc-img{
position: relative;
}

.doc-img::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: .5;
    transition: .4s all ease-in-out;
}

.doctor-card:hover .social-icon{
    opacity: 1;
}

.social-icon{

position: absolute;

left: 50%;

top: 50%;

transform: translate(-50%, -50%);
opacity: 0;
transition: .4s all ease-in-out;
}

.social-icon ul{
    
list-style: none;
    
margin: 0;
    
padding: 0;
    
display: flex;
    
width: 100px;
    
justify-content: space-between;
}

.social-icon ul li{
    
height: 30px;
    
width: 30px;
    
border: 1px solid #fff;
    
line-height: 30px;
}

.social-icon ul li a{
    
color: #fff;
} 

.social-icon ul li:hover{
    background-color: #f69165;
    border-color: #f69165;
    color: #fff;
}

.social-icon ul li a i{
    
} 

.doctor-card:hover h3{
    color: #f69165;
}

.doctor-card h3{

font-size: 20px;
}

.doctor-card p{

font-size: 14px;
}

.our-pricing{

/* align-items: center; */

text-align: center;

margin-bottom: 20px;

margin-top: 40px;
}

.our-pricing h1{
    
}

.our-pricing img{
    
width: 5%;
    
margin: auto;
}

.our-pricing p{
    
}


.pricing-table{

text-align: center;

border: 5px solid white;

padding: 30px 0;

margin-bottom: 50px;
}

.pricing-table:hover{
    border-color: #f69165;
    transition: .4s all ease-in-out;
    transform: scaleY(1.1);
}

.pricing-table:hover .prise,.pricing-table:hover .btn-signup{
    background-color: #f69165;
    color: #fff;
    transition: .4s all ease-in-out;
}

.pricing-table:hover .plan h2{
    color: #f69165;
    transition: .4s all ease-in-out;
}



.price{
    background: #f9f9f9;
}
.plan{

}

.plan h2{
    
color: #00cce1;
}

.plan p{
    
}

.prise{

background: #fff;

padding: 10px 0;

color: #00cce1;
}

.prise h1{
    
}

.prise p{
    
}

.service{

}

.service ul{
    
list-style: none;
    
margin: 20px;
    
padding: 0;
}

.service ul li{
    
margin-bottom: 10px;
}

.btn-signup{
    
background: #00cce1;
    
border-radius: 0;
    
color: #fff;
    
padding: 0;
    
padding: 5px 20px;
}


.happy-clients{
    /* background-image: url(../images/happy-client.jpg); */
    background: #000;
}

.client{
    width: 120px;
}

.client img{
    
}

.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}

.banner-carousel{
    position: relative;
}

.banner-carousel .owl-nav{

}
.banner-carousel .owl-nav .owl-prev span{
    
    
    left: -50px;
        
    top: 50%;
        
    transform: translate(-50%);
}

.banner-carousel .owl-nav .owl-prev span, .banner-carousel .owl-nav .owl-next span{
    
background: #00cce1;
    
height: 20px;
    
width: 20px;
    
display: block;
    
line-height: 20px;
    
position: absolute;
    
color: #fff;
    
font-size: 14px;
}

.banner-carousel .owl-nav .owl-next span{
    right: -50px;
    
top: 50%;
    
transform: translate(50%);
    
}
.banner-carousel .owl-dots{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.banner-carousel .owl-dots .owl-dot{
    margin: 5px;
}

.banner-carousel .owl-dots .owl-dot span{
    height: 8px;
    width: 8px;
    background: #00cce1;
    border-radius: 50px;
    display: block;
}

.banner-carousel .owl-dots .active span{
    background: #f69165;
    height: 12px;
    width: 12px;
}

.welcome-img{}
.welcome-img img {
height: 540px;
}
.welcome-features{}
.welcome-heading p{
max-width: 600px;
}
.our-doctors{
padding:  100px 0px;
background: #f9f9f9;
}
.heading{
text-align:  center;
padding: 25px 0px;
}
.heading h2{
margin-bottom: 0;
}
.heading img{
margin: 10px 0;
}
.heading p{
max-width: 600px;
margin:0 auto;
}
.doctors-info{
text-align:  center;
background: #fff;
border-bottom: 3px solid #00cce1;
margin-bottom: 30px;
}
.doctors-info h3{margin-bottom: 0;margin-top: 15px;}
.doctors-info span{display:  block;margin-bottom: 20px;color: #707070;font-size: 16px;}
.doctors-info:hover{
border-bottom: 3px solid #f69165;
}
.doctor-img{
position:  relative;
}
.doctor-img::before{
position: absolute;
content: "";
background:#00000054;
height:  100%;
width:  100%;
top: 0;
left:  0;
opacity: 0;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.doctor-img:hover::before{
opacity: 1;
}
.doctor-img img{
}
.social{
position:  absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.social li a{
color: #ffffff;
border: 1px solid;
display: block;
width: 35px;
height: 35px;
margin: 0 5px;
line-height: 35px;
opacity: 0;
text-align: center;
transition: all 0.6s;
-webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
}
.doctors-info:hover .social li a{
opacity: 1;
}
.doctor-img .social li a:hover{
background: #f69165;
border: none;
}



.our-service{
    padding: 100px 0px;
    
}
.service{
border: 5px solid #ebebeb;
padding: 30px 27px;
margin-bottom: 30px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.service:hover{
border: 5px solid #f69165;
}
.service i{
float:  left;
/* display:  block; */
/* margin-right:  5px; */
/* margin-bottom:  100px; */
/* padding-top: 0; */
padding-right: 4px;
}
.service h1{
font-size: 24px;
/* padding-top: 17px; */
/* display:  inline-block; */
margin-bottom: 17px;
padding-top: 22px;
}
.service p{padding: 7px 0px;/* margin-left: 0px; *//* max-width: 750px; */margin-bottom: 8px;}
.service a{
text-decoration:  none;
color: #6f6e6e;
font-weight:  bold;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.service a:hover{
color: #f69165;
}
.service a span{
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.service a:hover span{
margin-left: 5px;
}



.our-price{
    background: #f9f9f9;
    padding: 100px 0;
}
.price-content{
    text-align:  center;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px  #b9b9b96e;
    /* padding: 25px; */
    padding:  25px 0px;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover{
    border: 5px solid #f69165;
}
.price-head{
    margin:  0 auto;
    text-align:  center;
}
.price-head h2{
    margin-bottom:  0px;
    font-size: 30px;
    color: #00cce1;
}
.price-head p{
    font-size: 16px;
    color: #707070;
}
.price-content .price-package{
    background:  #fff;
    /* padding: 0px; */
}
.price-package{
    color: #00cce1;
    padding: 20px 16px;
    background:  #fff;
    margin: 15px 0px;
        transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.price-content:hover .price-package{
    background:#f69165;
    color: #fff;
}

.price-package h1{
    margin-bottom:  0px;
    font-size: 45px;
    letter-spacing: 0px;
}
.price-package h1 span{
    font-size:  24px;
  
}
.price-package span{}
.price-package p{
    margin-bottom: 0px;
    font-weight:  bold;
}
.package{}
.package ul{
    padding-bottom: 10px;
    padding-left:  0;
}
.package ul li{
    list-style: none;
    padding: 5px;
    color: #707070;
}
.package a{}
.package a button{}
.price-btn{
    border:  none;
    padding: 10px 37px;
    background: #00cce1;
    color:  #fff;
    font-weight:  bold;
    font-size: 20px;
}
.package a .price-btn{}




.our-clients{
    padding: 100px 0;
    background: url(../images/happy-client.jpg);
    position: relative;
        background-size: cover;
    background-repeat: no-repeat;
}
.our-clients::before{
   position: absolute;
content: "";
background:#00000054;
height:  100%;
width:  100%;
top: 0;
left:  0; 
}

.our-clients .heading{
    color: #fff;
}



footer{
    background: #1b1b1b;
    padding: 100px 0;
}
.footer-box{
    color: #fff;
}


.footer-box .footer-logo{

margin-bottom: 25px;
}
.footer-box .footer-logo img{
    margin-top: 5px;
}
.footer-box p{
    margin-top: 19px;
}
.footer-box .address{}
.footer-box .address li{
    padding:  0;
    padding-bottom: 25px;
}
.footer-box .address li .address-img{}
.footer-box .address li .address-img img{
}
.footer-box .address .address-text{}
.footer-box .address .address-text h3{}
.footer-box .address .address-text span{}
.footer-box .address{
    margin-top: 20px;
}
.footer-box .footer-head{}
.footer-box .footer-head h1{}
.footer-box form{}
.footer-box form .form-row {}
.footer-box form .form-row input{background: transparent;border: 1px solid #3c3939;border-radius: 0;padding: 15px;}
.footer-box form .form-row .btn{
    background: #e8703c;
    padding: 15px 20px;
}

.footer-social{
    margin-top: 50px;
}
.footer-social ul{}
.footer-social ul li{}
.footer-social ul li h4{

margin-right:  22px;
}
.footer-social ul li a{

background:  #323232;

width:  35px;

height: 35px;

padding: 15px;

margin-right:  8px;

text-align:  center;

color:  #fff;

line-height:  35px;
}
.footer-social ul li a:hover{
     background: #e8703c;
}



.recent-post{}
.recent-head{}
.recent-head h1{
    color: #fff;
}
.post-item{}
.recent-img{}
.recent-img img{}
.post-item .recent-img{
    margin: 17px 0;
}
.post-item .recent-img img{margin-right: 60px;}
.post-item .recent-text{
    margin-left: 15px;
}



/*.post-item .recent-text h5{
    color:  #a0a0a0;
    margin-bottom: 8px;
    margin-left: -16px;
    margin-top: 12px;
    font-size: 18px;
}
.post-item .recent-text span{
    color:  #a0a0a0;
    margin-left:  -15px;
    font-size: 14px;
}
*/
.post-item .recent-text h5{
    color:  #a0a0a0;
    margin-top: 15px;
    font-size: 18px;
}
.post-item .recent-text span{
    color:  #a0a0a0;
    font-size: 14px;
}
.recent-content{
    display:  inline-flex;
}



.footer-top{
    background:  #000;
    color:  #fff;
    padding: 30px 0px;
}
.copyright{}
.copyright p{
    color:  #777777;
    margin: 0;
    font-size: 16px;
    font-weight: 600
}
.copyright p a{
    color: #00cce1;
    text-decoration: none;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}




